<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="main.css" rel="stylesheet" type="text/css" />
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title>ABC Bank - Create User</title>
</head>

<body>
    <header>
        <h1>ABC BANK</h1>
        <nav>
            <a href="/">Search for user</a>
            <a href="#">Create user</a>
            <a href="/updateuser">Update user</a>
            <a href="/deleteuser">Delete user</a>
        </nav>
    </header>
     <!--Create a new user in the ABC Bank-->
     <h2>Create new user</h2>
     <form action="/createuser" method="POST">
     
     <!--Personal Number-->
     <label for="personal_nr">Personal Number:</label>
     <input type="text" id="personal_nr" minlength="11" maxlength="11" name="personal_nr" placeholder="Personal Number"
     title="Please fill out the personal number" required>
 
     <!--First Name-->
     <label for="firstname">First Name:</label>
     <input type="text" id="firstname" name="firstname" required placeholder="First Name">
 
     <!--Last Name-->
     <label for="lastname">Last Name:</label>
     <input type="text" id="lastname" name="lastname" required placeholder="Last Name">
 
     <!--Date of Birth-->
     <label for="dateofbirth">Date of Birth:</label>
     <input type="date" id="dateofbirth" name="dateofbirth" required placeholder="Date of Birth">
        
     <!--City-->
     <label for="city">City:</label>
     <input type="text" id="city" name="city" required placeholder="City">
     <br>
     <input type="submit" value="Add new user">
     <!-- This is where we output the response from the database --> 
     <div class="output">
        <% if (locals.output) { %>
            <%= output %>
                <% } %>
 
     </div>
 
 
     </form>
 
 </body>
 </html>