<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="favicon.ico"/>
    <link href="main.css" rel="stylesheet" type="text/css" />
    <title>ABC Bank</title>
</head>
    <body>
        <header>
            <h1>ABC BANK</h1>
            <nav>
                <a href="/">Search for user</a>
                <a href="/createuser">Create user</a>
                <a href="/updateuser">Update user</a>
                <a href="/deleteuser">Delete user</a>
            </nav>
        </header>
        <h2>Press the button to measure latency!</h2>
        <form action="/latency" method="POST">
            <input type="submit" value="Test">
        </form>
        <div class="output">
            <% if (locals.response) { %>
                <%= response %>
                    <% } %>  
        </div>

</body>
</html>